@import "layouts/sidebar";
@import "layouts/headbar";

.va-app-wrapper {
  height:   100%;
  overflow: hidden;
  position: relative;
}

.va-main-wrapper {
  height:     100%;
  overflow:   hidden;
  position:   relative;
  transition: $transition-padding, $transition-transform;
}

@media screen and (min-width: $device-md) {
  .va-app-wrapper {
    &.sidebar-expanded {
      .va-main-wrapper {
        padding-left: $sidebar-width-expanded;
      }

      .va-sidebar {
        width: $sidebar-width-expanded;
      }
    }

    &.sidebar-collapse {
      .va-main-wrapper {
        padding-left: $sidebar-width-collapse;
      }

      .va-sidebar {
        width: $sidebar-width-collapse;
      }
    }
  }
}

@media screen and (max-width: $device-md) {
  .va-app-wrapper {
    .va-sidebar {
      width: $sidebar-width-expanded;
    }
    .va-main-wrapper {
      padding-left: 0;
    }

    &.sidebar-expanded {
      .va-sidebar {
        transform: translate(0, 0);
      }
      .va-main-wrapper {
        transform: translate($sidebar-width-expanded/2, 0);
      }
      .va-side-backdrop {
        visibility: visible;
        opacity: 1;
      }
    }

    &.sidebar-collapse {
      .va-sidebar {
        transform: translate(-$sidebar-width-expanded, 0);
      }
      .va-main-wrapper {
        transform: translate(0, 0);
      }
      .va-side-backdrop {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}
