//
// System scss variables

@import "variable-constants";


//
// About sidebar
$sidebar-width-collapse:        60px;
$sidebar-width-expanded:        206px;

$sidebar-bg-color:              $color-indigo-dark;
$sidebar-bg-image:              linear-gradient($color-indigo-dark , $color-indigo-darken);

$sidebar-color:                 $color-gray-300;
$sidebar-color-active:          $color-white;

$sidebar-brand-padding-default:   $spacer-sm $spacer-lg;
$sidebar-brand-padding-collapsed: $spacer-xxs $spacer-sm;
$sidebar-brand-size-default:      56px;
$sidebar-brand-size-collapse:     40px;

$sidebar-brand-name-bg:           lighten($sidebar-bg-color, 4.5%);
$sidebar-brand-name-height:       30px;


//
// About head bar
$head-border:                   $border-default;

$head-height:                   50px;
$head-line-height:              $head-height - $border-default-width;

$head-nav-height:               $head-line-height;
$head-nav-line-height:          $head-nav-height;

$head-nav-item-padding:         0 $spacer-base;
$head-nav-item-border-width:    2px;
$head-nav-item-border:          solid $head-nav-item-border-width transparent;
$head-nav-item-border-hover:    solid $head-nav-item-border-width $color-theme;

$head-nav-font-size:            $font-size-h3;

$head-bg-color:                 $color-white;
