// Colors
$color-white:         #ffffff !default;
$color-gray-100:      #f8f9fa !default;
$color-gray-200:      #e9ecef !default;
$color-gray-300:      #dee2e6 !default;
$color-gray-400:      #ced4da !default;
$color-gray-500:      #adb5bd !default;
$color-gray-600:      #6c757d !default;
$color-gray-700:      #495057 !default;
$color-gray-800:      #343a40 !default;
$color-gray-900:      #212529 !default;
$color-black:         #000000 !default;

$color-blue:          #007bff !default;
$color-indigo:        #6610f2 !default;
$color-purple:        #6f42c1 !default;
$color-red:           #dc3545 !default;
$color-pink:          #f73f75 !default;
$color-orange:        #fe613c !default;
$color-yellow:        #ffc107 !default;
$color-green:         #28a745 !default;
$color-teal:          #20c997 !default;
$color-cyan:          #00bdff !default;

$color-indigo-dark:   #363a5d !default;
$color-indigo-darken: #2a2d44 !default;

// Theme colors
$theme-pink:          $color-pink !default;
$theme-green:         $color-green !default;
$theme-blue:          $color-blue !default;

$color-theme:           $theme-pink;
$color-link:            $color-blue;
$color-text-primary:    $color-gray-800;
$color-text-secondary:  $color-gray-600;


// System Fonts
$font-family-base:    Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !default;

$font-size-h1:        32px !default;
$font-size-h2:        24px !default;
$font-size-h3:        20px !default;
$font-size-h4:        18px !default;
$font-size-h5:        16px !default;
$font-size-h6:        14px !default;

$font-size-sm:        12px !default;
$font-size-lg:        $font-size-h4 !default;
$font-size-base:      $font-size-h6 !default;

$font-size-icons:     $font-size-h5 !default;


// System spacers
$spacer-base:         15px !default;
$spacer-sm:           10px !default;
$spacer-xs:           8px !default;
$spacer-xxs:          5px !default;
$spacer-lg:           20px !default;
$spacer-xl:           25px !default;
$spacer-xxl:          30px !default;


// Device screen width breakpoint
$device-sm:           576px !default;
$device-md:           768px !default;
$device-lg:           992px !default;
$device-xl:           1200px !default;


// Lines, Borders
$line-width:          1px !default;
$line-color:          $color-gray-200 !default;

$border-default:      solid $line-width $line-color !default;
$border-actived:      solid $line-width $color-theme !default;


// Z-index
$z-index-sidebar:           130!default;
$z-index-sidebar-popups:    140!default;
$z-index-sidebar-backdrop:  120!default;

$z-index-header:            100!default;
$z-index-header-popups:     110!default;
$z-index-tabbar:            100!default;
$z-index-breadcrumb:        100!default;
$z-index-footer:            100!default;

$z-index-editors:           135!default;


// Shadows
$shadow-color-base:         rgba(0, 0, 0, .075) !default;

$shadow-sm-offset:          .1rem!default;
$shadow-sm-size:            .2rem!default;

$shadow-base-offset:        .2rem!default;
$shadow-base-size:          .4rem!default;

$shadow-lg-offset:          .3rem!default;
$shadow-lg-size:            .6rem!default;

// vertical shadows
$shadow-sm-vr:              0 $shadow-sm-offset $shadow-sm-size $shadow-color-base;
$shadow-sm-vr-inverse:      0 -$shadow-sm-offset $shadow-sm-size $shadow-color-base;
// horizontal shadows
$shadow-sm-hr:              $shadow-sm-offset 0 $shadow-sm-size $shadow-color-base;
$shadow-sm-hr-inverse:      -$shadow-sm-offset 0 $shadow-sm-size $shadow-color-base;


// Transitions
$transition-duration:         .28s!default;
$transition-all:              all $transition-duration ease-out!default;
$transition-border:           border $transition-duration ease-out!default;
$transition-opacity:          opacity $transition-duration ease-out!default;
$transition-background:       background $transition-duration ease-out!default;
$transition-color:            color $transition-duration ease-out!default;
$transition-margin:           margin $transition-duration ease-out!default;
$transition-transform:        transform $transition-duration ease-out!default;
