.va-sidebar {
  height: 100%;
  //overflow: hidden;
  color: $sidebar-color;
  padding-top: $sidebar-brand-height;
  background-color: $sidebar-bg-color;
  background-image: $sidebar-bg-image;

  position: absolute;
  z-index: $z-index-sidebar;
  left: 0;
  top: 0;
  bottom: 0;

  transition: $transition-width, $transition-padding, $transition-transform;
}

.va-side-backdrop {
  background-color: $color-overlay;

  position: absolute;
  z-index: $z-index-sidebar-backdrop;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $transition-opacity;
}

.va-side-brand {
  height: $sidebar-brand-height;
  line-height: $sidebar-brand-size;
  padding: $sidebar-brand-padding;
  font-size: $font-size-h5;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition-padding, $transition-height;

  .brand-logo {
    width: $sidebar-brand-size;
    height: $sidebar-brand-size;
    transition: $transition-width, $transition-height;
  }

  .brand-name {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }
}

.va-side-main {
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
}

.va-side-nav {
  position: relative;
  transition: $transition-background;

  .nav-title, .menu-item, a {
    display: block;
    height: $sidebar-nav-link-height;
    line-height: $sidebar-nav-link-line-height;
    padding-left: $sidebar-nav-link-padding-x - $sidebar-nav-link-border-left-width;
    padding-right: $sidebar-nav-link-padding-x * 2;
    border-left: solid $sidebar-nav-link-border-left-width transparent;
    text-decoration: none;
    color: $sidebar-nav-color;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    transition: $transition-padding, $transition-color, $transition-background, $transition-border;

    &:hover {
      border-left-color: $border-color-active;
    }

    .va-icon {
      width: $sidebar-nav-icon-size;
      height: $sidebar-nav-icon-size;
      vertical-align: -3px;
      margin-right: $spacer-xs;
    }
  }

  .nav-title {
    font-size: $font-size-h6;
    font-weight: 500;
    text-transform: uppercase;

    .expander-icon {
      position: absolute;
      top: 50%;
      margin-top: -7px;
      right: $sidebar-nav-link-padding-x - 7px;
      opacity: 1;
      transition: $transition-transform, $transition-opacity;
    }

  }

  .nav-category {
    list-style-type: none;
    //width: $sidebar-width-expanded;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: $transition-max-height, $transition-transform;

    .nav-item {
      text-transform: capitalize;

      &:hover, &.active {
        color: $sidebar-nav-color-active;
      }

      &.active {
        background-color: $color-indigo-darkness;
      }
    }
  }

  &.expanded {
    background-color: $sidebar-nav-expanded-bg;

    .nav-title .expander-icon {
      transform: rotate(90deg);
    }
    .nav-category {
      max-height: $sidebar-nav-link-height * 10;
    }
  }
}

@media screen and (min-width: $device-md) {
  .va-side-backdrop {
    display: none;
  }

  .va-app-wrapper {

    &.sidebar-collapse {
      .va-sidebar:hover {
        width: $sidebar-width-expanded;

        .va-side-brand .brand-name {
          visibility: visible;
        }

        .va-side-nav {
          &.expanded .nav-category {
            max-height: $sidebar-nav-link-height * 10;
          }
          .nav-title, .menu-item {
            padding-right: $sidebar-nav-link-padding-x * 2;
          }
          .item-name {
            display: inline-block;
          }
          .expander-icon {
            opacity: 1;
          }
        }
      }

      .va-side-brand .brand-name {
        visibility: hidden;
      }

      .va-side-nav {
        .nav-category {
          max-height: 0;
        }
        .nav-title, .menu-item {
          padding-right: $sidebar-nav-link-padding-x;
        }
        .item-name {
          display: none;
        }
        .expander-icon {
          opacity: 0;
        }
      }
    }
  }
}


@media screen and (max-width: $device-md) {
  .va-app-wrapper {
    &.sidebar-expanded .va-side-backdrop {
      visibility: visible;
      opacity: 1;
    }

    &.sidebar-collapse .va-side-backdrop {
      visibility: hidden;
      opacity: 0;
    }
  }
}
