.va-sidebar {
  height: 100%;
  overflow: hidden;
  color: $sidebar-color;
  padding-top: $sidebar-brand-height-expanded;
  background-color: $sidebar-bg-color;
  background-image: $sidebar-bg-image;

  position: absolute;
  z-index: $z-index-sidebar;
  left: 0;
  top: 0;
  bottom: 0;

  transition: $transition-width, $transition-padding, $transition-transform;
}

.va-side-backdrop {
  background-color: $color-overlay;

  position: absolute;
  z-index: $z-index-sidebar-backdrop;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transition: $transition-opacity;
}

.va-side-brand {
  height: $sidebar-brand-height-expanded;
  padding: $sidebar-brand-padding-default;
  text-align: center;
  font-size: $font-size-h5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: $transition-padding, $transition-height;

  .brand-logo {
    width: $sidebar-brand-size-default;
    height: $sidebar-brand-size-default;
    transition: $transition-width, $transition-height;
  }

  .brand-name {
    height: $sidebar-brand-name-height;
    line-height: $sidebar-brand-name-height;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding: 0 10px;
    background-color: $sidebar-brand-name-bg;
    border-radius: $sidebar-brand-name-height/2;
    margin-top: $spacer-sm;
    opacity: 1;
    visibility: visible;
    transition: $transition-opacity;
  }
}

.va-side-main {
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
}

.va-side-title {
  margin-top: $sidebar-title-margin-top;
  margin-bottom: 0;
  padding: 0 $sidebar-title-padding-x;
  font-weight: 500;
  transition: $transition-height;
}

.va-side-menu {
  padding: $sidebar-title-margin-bottom 0 0;
  list-style-type: none;
  margin: 0;

  > li {
    padding: $sidebar-menus-space/2 0 $sidebar-menus-space/2 $sidebar-menus-padding-x;
    position: relative;
  }

  .menu-item {
    display: block;
    padding: 0 $sidebar-menus-link-padding-x;
    margin: 0;
    //margin-right: -$scrollbar-width;
    color: $sidebar-color;
    text-decoration: none;
    line-height: $sidebar-menus-line-height;
    border-top-left-radius: $sidebar-menus-line-height/2;
    border-bottom-left-radius: $sidebar-menus-line-height/2;
    white-space: nowrap;

    &:hover {
      color: $sidebar-color-active;
    }

    &.active {
      background-color: $sidebar-menus-link-active-bg;

      .va-icon {
        color: $color-cyan;
      }
    }

    .va-icon {
      width: $font-size-lg;
      height: $font-size-lg;
      vertical-align: -0.2em;
      margin-right: $spacer-base;
    }
  }
}

@media screen and (min-width: $device-md) {
  .va-side-backdrop {
    display: none;
  }
}
